:root {
    --primary-blue:#3B82F6;
    --background-color:#f8fafc ;
    --text-color: #1F2937;
    --font-family: 'Arial, sans-serif';
    --pass-red:#EF4444;
    --pass-orange:#F59E0B;
    --pass-green:#10B981;
    --pass-gray:#E5E7EB;
    --border:#E5E7EB;
    --font-family: 'Roboto, sans-serif';
}

